/* CTA SECTION */
.cta {
  background: #e9dfd2;
  text-align: center;
  padding: 100px 20px;
}

.cta h2 {
  font-size: 36px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 20px;
  color: #1c1c1c;
}

.cta p {
  max-width: 600px;
  margin: auto;
  color: #555;
  margin-bottom: 30px;
}

.cta h3 {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta .primary-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
}

.cta .secondary-btn {
  background: transparent;
  border: 1px solid #333;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cta {
    padding: 80px 20px;
  }

  .cta h2 {
    font-size: 28px;
  }

  .cta h3 {
    font-size: 18px;
  }

  .cta-buttons {
    flex-direction: column;
    gap: 16px;
  }

  .cta .primary-btn,
  .cta .secondary-btn {
    width: 100%;
  }
}
