/* HERO */
.hero {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../assets/dashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

/* WRAPPER */
.hero-wrapper {
  position: relative;
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

/* CONTENT LAYOUT */
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-left {
  width: 55%;
}

.hero-left h1 {
  font-size: 64px;
  line-height: 1.1;
}

.hero-right-text {
  width: 35%;
}

.hero-right-text p {
  color: #c7dcd4;
  margin-bottom: 20px;
}

/* IMAGE TOP LEFT */
.hero-image {
  top: 80px;
  left: 0;
  width: 280px;
}

.hero-image img {
  width: 80%;
  /* display: block; */
}

.middle-logo {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    min-height: auto;
    /* padding: 60px 0; */
  }

  .hero-wrapper {
    padding: 0 16px;
  }

  .hero-content {
    flex-direction: column;
    gap: 40px;
  }

  .hero-left {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 42px;
  }

  .hero-right-text {
    width: 100%;
  }

  .hero-image {
    position: static;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
  }

  .hero-image img {
    width: 20%;
    margin: 0 auto;
    font-size: 0;
  }

  .left-logo {
    display: none;
  }

  .middle-logo {
    display: block;
    position: static;
    top: 0;
    left: 50%;
    /* transform: translateX(-50%); */
    width: 200px;
    z-index: 100;
  }
}
