/* TRUSTED SECTION */
.trusted-section {
  position: relative;
  background: #062d22;
  z-index: 5;
}

.trusted-card {
  background: #e9dfd2;
  border-radius: 24px;
  padding: 40px 50px;
  width: 78%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.trusted-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.logos img {
  height: 36px;
  padding: 8px 16px;
  background: #f5efe6;
  border-radius: 10px;
}

.trusted-right {
  width: 300px;
}

.video-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: #d8cfc3;
  padding: 10px;
}

.video-box img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: white;
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 50%;
}

.meet-btn {
  position: absolute;
  top: -20px;
  left: 140px;
  background: #1f7a5c;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
}
