/* TRUSTED SECTION */
.trusted-section {
  position: relative;
  background: #062d22;
  z-index: 5;
}

.trusted-card {
  background: #e9dfd2;
  border-radius: 24px;
  padding: 40px 50px;
  width: 78%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* position: relative; */
}

.trusted-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trusted-top h3 {
  font-size: 30px;
  font-weight: 400;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.logos img {
  height: 48px;
  padding: 0;
  background: transparent;
  border-radius: 0;
}

.trusted-right {
  width: 300px;
}

.video-box {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  background: #d8cfc3;
  padding: 10px;
}

.video-box img {
  width: 100%;
  display: block;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  color: white;
  font-size: 20px;
  padding: 10px 14px;
  border-radius: 50%;
}

.meet-btn {
  position: absolute;
  top: -20px;
  left: 200px;
  background: #1f7a5c;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
}

/* RESPONSIVE - TABLET */
@media (max-width: 1024px) {
  .trusted-card {
    width: 85%;
    padding: 35px 40px;
  }

  .trusted-top h3 {
    font-size: 26px;
  }

  .logos img {
    height: 40px;
  }

  .trusted-right {
    width: 260px;
  }
}

/* RESPONSIVE - MOBILE */
@media (max-width: 768px) {
  .trusted-section {
    padding-top: 50px;
  }

  .trusted-card {
    width: 90%;
    padding: 45px 20px 30px;
  }

  .trusted-top {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .trusted-top h3 {
    font-size: 20px;
  }

  .trusted-right {
    width: 100%;
  }

  .logos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 0;
  }

  .logos img {
    height: 32px;
  }

  .meet-btn {
    position: absolute;
    top: 30px;
    left: 30%;
    transform: translateX(-50%);
  }
}
